@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    /* box-sizing:border-box; */
}

body *{
    box-sizing:border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw; /*são unidades de medida, que simbolizam porcentagem*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login >  h1/*chama o h1 dentro da div*/{
    font-size: 3vw;
    color: #77ffc0;
}

.img{
    width: 35vw;
}

.right-login{
    width: 50vw; 
    height: 100vh;
    display: flex; /**deixa horizontal*/
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%; /*o "vw-vh" pega a porcentagem comparando a tela inteira*/
    /* enquanto a porcentagem calcula o da div */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*deixa tudo em colunas*/
    padding: 30px/*verticalmente- EIXO Y*/ 35px /*eixo X horizontal*/;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.500);
}

.card-login .textfield > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column; /*faz com que os eixos respectivos a baixo se invertam*/
    align-items: flex-start;
    justify-items: center;
    margin: 10px 0px;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.500);
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #201b2c;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login h1{
        display: none;
    }
    .left-login{
       width: 100%;
       height: auto; 
    }
    .right-login{
        width: 100%;
        height: auto; 
     }
    
    .left-login img{
        width: 50vw;
    }
    .card-login{
        width: 50%;
    }
}